extend layout
block content
  div.jumbotron
    div.container
      h1 Watch or Not?
      p.lead Welcome to Watch or Not, the hottest movie recommender in town.
  div.rate-film.container
    div.col-xs-12
      h2.text-center So you want a #{genre.get('name')}, huh?
      p.lead.text-center How do you feel about&hellip;

      div.film(id="movie_"+ movie.id())
        div.col-md-8.col-md-offset-2.col-sm-12.film-title
          h2.text-center.title= movie.get('title')+"?"

        div.film-cover.col-md-4.col-md-offset-2.col-sm-6
          img.poster(alt="Poster", src=movie.get('poster'))

        div.film-details.col-md-4.col-sm-6
          dl
            dt Plot
            dd
              blockquote.plot= movie.get('plot')
            dt Runtime
            dd.runtime= movie.get('runtime') + "mins"
            dt Released
            dd.year= movie.get('year')
            dt Rating
            dd.imdbRating= movie.get('imdbRating')

          nav.rate
            a.col-xs-5.btn.btn-danger.downvote(href="#")
              i.glyphicon.glyphicon-thumbs-down
              | I hate it

            a.col-xs-5.btn.btn-success.pull-right.upvote(href="#")
              i.glyphicon.glyphicon-thumbs-up
              | I love it
  form#continue(action="/recommend/"+genre.get("name")+"/results", method="POST")
    input.rated(name="rated",type="hidden")
